@tailwind base;
@tailwind components;
@tailwind utilities;


  .p-datatable-paginator-bottom {
    margin-top: 10px;
    border: none !important;
  }

  .p-select-list{
    background-color: white;
    padding: 5px 2px !important;
    border: 2px solid gray;
  }
  .p-select {
    padding: 5px;
  }
  .p-select-label {
    padding: 5px;
  }
  .p-select-option{
    padding: 5px 10px !important;
  }